<div class=" carousel slide auto pos_r " id="main_vis" >

    <ul class="carousel-inner opa00 animated fadeIn" style="padding:0px;magin-bottom:0px" >
        <li class="item active">
            <div class="visual_01">

            </div>
        </li>
        <li class="item ">
            <div class="visual_02">

            </div>
        </li>
        <li class="item ">
            <div class="visual_03">

            </div>
        </li>
       <!-- <li class="item ">
            <div class="visual_04">

            </div>
        </li>-->
     </ul>

    <div class=" pos_a pos_center_w"  style="top:25%">

        <div class="text" ><img src="/designs/{HOST}/images/visuai_text.png"></div>
        <div class="navi m-t30" >
            <ol class="carousel-indicators">
                <li data-target="#main_vis" data-slide-to="0" class="active"  style="zoom:1.2"></li>
                <li data-target="#main_vis" data-slide-to="1"  style="zoom:1.2"></li>
                <li data-target="#main_vis" data-slide-to="2"  style="zoom:1.2"></li>
               <!-- <li data-target="#main_vis" data-slide-to="3"></li>-->
            </ol>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function(){
        var inits = '';
        $('#main_vis').carousel({  interval: 5000 }).on('slide.bs.carousel', function () {
            inits = 'y';
        });


    });

</script>


<!--
<br>
<br>
<br>
<br>
<br>
<br>
<a href="#/user/reserve/index?no=5">VIP형펜션 B동 (스파,복층)</a><br>
<a href="#/user/reserve/index?no=9">VIP형펜션 C동 (스파,복층)</a><br>
<a href="#/user/reserve/index?no=1">VIP형펜션 A동 (스파,복층)</a><br>
<br>

<a href="#/user/reserve/index?no=26">옥화용소절경 20평형</a><br>
<a href="#/user/reserve/index?no=14">옥화용소절경 50평(복층)</a><br>
<a href="#/user/reserve/index?no=18">옥화용소절경 40평</a><br>
<a href="#/user/reserve/index?no=13">옥화용소절경 100평</a><br>-->
