<style type="text/css" title="">
    #container #contents{ background-color:#fff; overflow:hidden; padding:133px 0 0 0}
</style>
            <div class="room_ok50_top animated fadeInUp"></div>
            <div id="cont">
            	<div class="cont">
                	<div class="room_tit">
					<ul>
                    	<li><img src="images/sub/room/ok50_tt.jpg"></li>
                        <li><img src="images/sub/room/room_txt03.jpg" usemap="#Map">
                            <map name="Map">
                            <area shape="rect" coords="385,128,556,165" href="#/user/reserve/index?no=17&tod=t&day=<?=date('Y-m-d')?>&str_year=<?=date('Y')?>&str_month=<?=date('m')?>&str_day=<?=date('d')?>">
                            </map>
                        </li>
                    </ul>
                    </div>
                    <div class="room_icon"><img src="images/sub/room/room_icon.jpg"></div>
                    <div class="room_photo"><img src="images/sub/room/ok50.jpg"></div>
                </div>
            </div>
