<style type="text/css" title="" xmlns: xmlns:>
.tables {margin-top:20px;margin-bottom: 20px}
.tables td{padding:10px;padding-top:18px;padding-left:25px}
.blur {
filter:blur(1px);
-ms-filter:blur(1px);
-moz-filter:blur(1px);
-webkit-filter:blur(1px);
}
</style>
<div class="col-md-12 " id="" style="margin-bottom:30px;min-height:500px">
<div class="text-left m-b20 ">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableTemp01 m-t30 m-b20" summary="^!">
<tbody>
<tr>
<td width="5%" style="padding-right:30px"><img src="/images/product/18/logo.jpg" style="width:140px" /></td>
<td class="h4"><strong>감각운동통합 훈련 프로그램</strong></td>
</tr>
<tr>
<td colspan="2" style="padding-top:20px;padding-bottom:10px;font-size:15px">신경감각기능 및 신경운동원리에 
근거하여 개발된 두뇌 타이밍 
평가 ∙훈련도구</td>
</tr>
</tbody>
</table>
</div>
<div class="box-shadow" style="border-radius:3px;overflow:hidden;border: 1px solid rgba(120, 130, 140, 0.14);padding:0px;margin:0px;margin-bottom:20px;" id="">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tables  " summary="^!" style="width:100%; border:0px;margin:0px;color:#000" >
<tbody>
<tr>
<td rowspan="3" style="width: 250px;border-top:0px;padding:5px" class="b-r text-center">
<img src="/images/product/18/product.jpg" style="width: 80%;">
</td>
<td class="text-right _100" valign="top" style="width:140px;">품목명/모델명</td>
<td style="" valign="top">감각운동통합 훈련 프로그램 - Interactive Metronome </td>
</tr>
<tr>
<td class="text-right _100 b-t" valign="top" style="">제조국/제조사
</td>
<td style="" valign="top" class="b-t">미국 Interactive Metronome </td>
</tr>
<tr>
<td class="text-right b-t" valign="top" style="">적용분야</td>
<td style="" valign="top" class="b-t">1. 작업치료<br />
2. 언어치료<br />
3. 물리치료<br />
4. 특수교육<br />
5. 스포츠</td>
</tr>
</tbody>
</table>
</div>
<div class="blank_div m-t20 " id="">
<div class=" m-b20  ">
<div class="row no-gutter b-t b-l b-r b-b box-shadow">
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1410/1?cate=1410&db_title=s1&product_name=%EA%B0%90%EA%B0%81%EC%9A%B4%EB%8F%99%ED%86%B5%ED%95%A9+%ED%9B%88%EB%A0%A8+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">견적문의</span>
</a>
</div>
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1411/1?cate=1411&db_title=s2&product_name=%EA%B0%90%EA%B0%81%EC%9A%B4%EB%8F%99%ED%86%B5%ED%95%A9+%ED%9B%88%EB%A0%A8+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8">
<i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">A/S문의</span>
</a>
</div>
<div class="col-xs-4">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1812/1?cate=1812&db_title=s8&product_name=%EA%B0%90%EA%B0%81%EC%9A%B4%EB%8F%99%ED%86%B5%ED%95%A9+%ED%9B%88%EB%A0%A8+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">자료요청</span>
</a>
</div>
</div>
</div>
<div class="box box-shadow b-l b-r ">
<div class="box-header dker pos_r">
<h3 class="">제품특징</h3><small class="text-right pos_a" style="right:20px;top:10px"></small>
</div>
<div class="box-body b-t" style="line-height: 190%">
1. 일반 지적기능, 작업기억, 주의력 조절, 실행 기능 과 가장 밀접하게 관련된 두뇌 네트워크인 두정엽-전두엽 네트워크를 향상시킴<br />
2. 두뇌의 운동계획(motor plan)과 순차적 처리능력(sequence)을 평가 및 개선<br />
3. 밀리세컨(1000분의 1초) 훈련자의 미세한 타이밍 능력을 정확히 측정하고 평가함<br />
4. 수많은 임상 결과에 기반한 증명된 훈련 도구 <br />
5. 현재 미국 내에서만 30,000명 이상의 IM전문가가 배출되었으며 8,000여개 대학, 병원, 클리닉에서 사용 중<br />
6. 부작용이 없고 사용하기 간편<br />
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>대표이미지</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/18/bg.jpg" alt="" style="width:100%"/>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>Interactive Metronome</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/18/p1/1.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/18/p1/2.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/18/p1/3.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/18/p1/4.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/18/p1/5.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
</div>
</div>