<style type="text/css" title="" xmlns: xmlns:>
.tables {margin-top:20px;margin-bottom: 20px}
.tables td{padding:10px;padding-top:18px;padding-left:25px}
.blur {
filter:blur(1px);
-ms-filter:blur(1px);
-moz-filter:blur(1px);
-webkit-filter:blur(1px);
}
</style>
<div class="col-md-12 " id="" style="margin-bottom:30px;min-height:500px">
<div class="text-left m-b20 ">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableTemp01 m-t30 m-b20" summary="^!">
<tbody>
<tr>
<td width="5%" style="padding-right:30px"><img src="/images/product/7/logo.jpg" style="width:140px" /></td>
<td class="h4"><strong>무선 생체신호 측정 시스템</strong></td>
</tr>
<tr>
<td colspan="2" style="padding-top:20px;padding-bottom:10px;font-size:15px">신체 활동 시 나타나는 생체신호를 무선으로 측정하여 실시간으로 진단 및 분석하는데 사용</td>
</tr>
</tbody>
</table>
</div>
<div class="box-shadow" style="border-radius:3px;overflow:hidden;border: 1px solid rgba(120, 130, 140, 0.14);padding:0px;margin:0px;margin-bottom:20px;" id="">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tables  " summary="^!" style="width:100%; border:0px;margin:0px;color:#000" >
<tbody>
<tr>
<td rowspan="3" style="width: 250px;border-top:0px;padding:5px" class="b-r text-center">
<img src="/images/product/7/product.jpg" style="width: 80%;">
</td>
<td class="text-right _100" valign="top" style="width:140px;">품목명/모델명</td>
<td style="" valign="top">무선 생체신호 측정 시스템 - Zephyr </td>
</tr>
<tr>
<td class="text-right _100 b-t" valign="top" style="">제조국/제조사
</td>
<td style="" valign="top" class="b-t">미국 Metronic</td>
</tr>
<tr>
<td class="text-right b-t" valign="top" style="">적용분야</td>
<td style="" valign="top" class="b-t">1. 의료용<br />
2. 스포츠용</td>
</tr>
</tbody>
</table>
</div>
<div class="blank_div m-t20 " id="">
<div class=" m-b20  ">
<div class="row no-gutter b-t b-l b-r b-b box-shadow">
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1410/1?cate=1410&db_title=s1&product_name=%EB%AC%B4%EC%84%A0+%EC%83%9D%EC%B2%B4%EC%8B%A0%ED%98%B8+%EC%B8%A1%EC%A0%95+%EC%8B%9C%EC%8A%A4%ED%85%9C"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">견적문의</span>
</a>
</div>
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1411/1?cate=1411&db_title=s2&product_name=%EB%AC%B4%EC%84%A0+%EC%83%9D%EC%B2%B4%EC%8B%A0%ED%98%B8+%EC%B8%A1%EC%A0%95+%EC%8B%9C%EC%8A%A4%ED%85%9C">
<i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">A/S문의</span>
</a>
</div>
<div class="col-xs-4">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1812/1?cate=1812&db_title=s8&product_name=%EB%AC%B4%EC%84%A0+%EC%83%9D%EC%B2%B4%EC%8B%A0%ED%98%B8+%EC%B8%A1%EC%A0%95+%EC%8B%9C%EC%8A%A4%ED%85%9C"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">자료요청</span>
</a>
</div>
</div>
</div>
<div class="box box-shadow b-l b-r ">
<div class="box-header dker pos_r">
<h3 class="">제품특징</h3><small class="text-right pos_a" style="right:20px;top:10px"></small>
</div>
<div class="box-body b-t" style="line-height: 190%">
1. 실시간으로 동시에 최대 100명까지 다양한 생체정보를 진단 및 분석(심박수, 호흡수, 자세, 신체 활성도 등)<br />
2. 기존 제품에 비해 부착의 안정성과 다양한 변인측정으로 신뢰성 높은 데이터 수집 가능<br />
3. 동작의 불편함이 없도록 왼쪽 가슴 측면에 센서 부착<br />
4. 블루투스 기능 지원<br />
5. 최대 720시간까지 데이터 수집 가능<br />
6. 완충 후 최대 26시간 연속 사용 가능<br />
7. 반경 약 100미터까지 측정</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>대표이미지</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/7/bg.jpg" alt="" style="width:100%"/>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>Zephyr</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/7/p1/1.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/7/p1/2.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/7/p1/3.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/7/p1/4.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/7/p1/5.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
</div>
</div>