<style type="text/css" title="" xmlns: xmlns:>
.tables {margin-top:20px;margin-bottom: 20px}
.tables td{padding:10px;padding-top:18px;padding-left:25px}
.blur {
filter:blur(1px);
-ms-filter:blur(1px);
-moz-filter:blur(1px);
-webkit-filter:blur(1px);
}
</style>
<div class="col-md-12 " id="" style="margin-bottom:30px;min-height:500px">
<div class="text-left m-b20 ">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableTemp01 m-t30 m-b20" summary="^!">
<tbody>
<tr>
<td width="5%" style="padding-right:30px"><img src="/images/product/16/logo.jpg" style="width:140px" /></td>
<td class="h4"><strong>경두개직류전기자극기</strong></td>
</tr>
<tr>
<td colspan="2" style="padding-top:20px;padding-bottom:10px;font-size:15px"></td>
</tr>
</tbody>
</table>
</div>
<div class="box-shadow" style="border-radius:3px;overflow:hidden;border: 1px solid rgba(120, 130, 140, 0.14);padding:0px;margin:0px;margin-bottom:20px;" id="">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tables  " summary="^!" style="width:100%; border:0px;margin:0px;color:#000" >
<tbody>
<tr>
<td rowspan="3" style="width: 250px;border-top:0px;padding:5px" class="b-r text-center">
<img src="/images/product/16/product.jpg" style="width: 80%;">
</td>
<td class="text-right _100" valign="top" style="width:140px;">품목명/모델명</td>
<td style="" valign="top">경두개직류전기자극기 - DC-Stimulator </td>
</tr>
<tr>
<td class="text-right _100 b-t" valign="top" style="">제조국/제조사
</td>
<td style="" valign="top" class="b-t">독일 NeuroConn</td>
</tr>
<tr>
<td class="text-right b-t" valign="top" style="">적용분야</td>
<td style="" valign="top" class="b-t">1. 의료용<br />
2. 뇌신경 재활분야</td>
</tr>
</tbody>
</table>
</div>
<div class="blank_div m-t20 " id="">
<div class=" m-b20  ">
<div class="row no-gutter b-t b-l b-r b-b box-shadow">
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1410/1?cate=1410&db_title=s1&product_name=%EA%B2%BD%EB%91%90%EA%B0%9C%EC%A7%81%EB%A5%98%EC%A0%84%EA%B8%B0%EC%9E%90%EA%B7%B9%EA%B8%B0"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">견적문의</span>
</a>
</div>
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1411/1?cate=1411&db_title=s2&product_name=%EA%B2%BD%EB%91%90%EA%B0%9C%EC%A7%81%EB%A5%98%EC%A0%84%EA%B8%B0%EC%9E%90%EA%B7%B9%EA%B8%B0">
<i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">A/S문의</span>
</a>
</div>
<div class="col-xs-4">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1812/1?cate=1812&db_title=s8&product_name=%EA%B2%BD%EB%91%90%EA%B0%9C%EC%A7%81%EB%A5%98%EC%A0%84%EA%B8%B0%EC%9E%90%EA%B7%B9%EA%B8%B0"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">자료요청</span>
</a>
</div>
</div>
</div>
<div class="box box-shadow b-l b-r ">
<div class="box-header dker pos_r">
<h3 class="">제품특징</h3><small class="text-right pos_a" style="right:20px;top:10px"></small>
</div>
<div class="box-body b-t" style="line-height: 190%">
1. 뇌신경 재활치료를 위한 비침습적 뇌자극술<br />
2. 수술 없이 국소부위를 안전하게 자극하여  뇌 피질의 활성화 정도 조절<br />
3. 뇌기능 회복을 위한 신경가소성(Neuroplasticity) 유도 및 촉진<br />
4. Double-blind Study (sham intervention) 가능<br />
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>대표이미지</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/16/bg.jpg" alt="" style="width:100%"/>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>DC-Stimulator</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/16/p1/1.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/16/p1/2.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/16/p1/3.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
</div>
</div>