<style type="text/css" title="" xmlns: xmlns:>
.tables {margin-top:20px;margin-bottom: 20px}
.tables td{padding:10px;padding-top:18px;padding-left:25px}
.blur {
filter:blur(1px);
-ms-filter:blur(1px);
-moz-filter:blur(1px);
-webkit-filter:blur(1px);
}
</style>
<div class="col-md-12 " id="" style="margin-bottom:30px;min-height:500px">
<div class="text-left m-b20 ">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableTemp01 m-t30 m-b20" summary="^!">
<tbody>
<tr>
<td width="5%" style="padding-right:30px"><img src="/images/product/21/logo.jpg" style="width:140px" /></td>
<td class="h4"><strong>시청각 기능 평가 프로그램</strong></td>
</tr>
<tr>
<td colspan="2" style="padding-top:20px;padding-bottom:10px;font-size:15px">다양한 시청각 인식∙처리 능력을 평가하기 위한 시청각 기능 평가 프로그램</td>
</tr>
</tbody>
</table>
</div>
<div class="box-shadow" style="border-radius:3px;overflow:hidden;border: 1px solid rgba(120, 130, 140, 0.14);padding:0px;margin:0px;margin-bottom:20px;" id="">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tables  " summary="^!" style="width:100%; border:0px;margin:0px;color:#000" >
<tbody>
<tr>
<td rowspan="3" style="width: 250px;border-top:0px;padding:5px" class="b-r text-center">
<img src="/images/product/21/product.jpg" style="width: 80%;">
</td>
<td class="text-right _100" valign="top" style="width:140px;">품목명/모델명</td>
<td style="" valign="top">시청각 기능 평가 프로그램 - TAVS </td>
</tr>
<tr>
<td class="text-right _100 b-t" valign="top" style="">제조국/제조사
</td>
<td style="" valign="top" class="b-t">미국 ABT(Advanced Brain Technologies)</td>
</tr>
<tr>
<td class="text-right b-t" valign="top" style="">적용분야</td>
<td style="" valign="top" class="b-t">1. 시청각 인식∙처리 능력 평가<br />
2. TLP 효과의 객관적인 전/후 평가 도구<br />
</td>
</tr>
</tbody>
</table>
</div>
<div class="blank_div m-t20 " id="">
<div class=" m-b20  ">
<div class="row no-gutter b-t b-l b-r b-b box-shadow">
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1410/1?cate=1410&db_title=s1&product_name=%EC%8B%9C%EC%B2%AD%EA%B0%81+%EA%B8%B0%EB%8A%A5+%ED%8F%89%EA%B0%80+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">견적문의</span>
</a>
</div>
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1411/1?cate=1411&db_title=s2&product_name=%EC%8B%9C%EC%B2%AD%EA%B0%81+%EA%B8%B0%EB%8A%A5+%ED%8F%89%EA%B0%80+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8">
<i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">A/S문의</span>
</a>
</div>
<div class="col-xs-4">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1812/1?cate=1812&db_title=s8&product_name=%EC%8B%9C%EC%B2%AD%EA%B0%81+%EA%B8%B0%EB%8A%A5+%ED%8F%89%EA%B0%80+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">자료요청</span>
</a>
</div>
</div>
</div>
<div class="box box-shadow b-l b-r ">
<div class="box-header dker pos_r">
<h3 class="">제품특징</h3><small class="text-right pos_a" style="right:20px;top:10px"></small>
</div>
<div class="box-body b-t" style="line-height: 190%">
1. 표준화된 검사 도구<br />
2. 청각 및 시각 정보처리 능력의 평가 가능<br />
3. 저렴한 비용으로 간편하게 사용<br />
4. 단 2-3분 내에 의미 있는 평가결과 확인<br />
5. 증상을 평가할 때 기초자료로 활용<br />
6. 훈련에 의한 객관적인 변화 측정 가능<br />
7. 5세 이상 사용 가능<br />
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>대표이미지</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/21/bg.jpg" alt="" style="width:100%"/>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>검사옵션</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/21/p1/1.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
</div>
</div>