<style type="text/css" title="" xmlns: xmlns:>
.tables {margin-top:20px;margin-bottom: 20px}
.tables td{padding:10px;padding-top:18px;padding-left:25px}
.blur {
filter:blur(1px);
-ms-filter:blur(1px);
-moz-filter:blur(1px);
-webkit-filter:blur(1px);
}
</style>
<div class="col-md-12 " id="" style="margin-bottom:30px;min-height:500px">
<div class="text-left m-b20 ">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableTemp01 m-t30 m-b20" summary="^!">
<tbody>
<tr>
<td width="5%" style="padding-right:30px"><img src="/images/product/4/logo.jpg" style="width:140px" /></td>
<td class="h4"><strong>모션 센서</strong></td>
</tr>
<tr>
<td colspan="2" style="padding-top:20px;padding-bottom:10px;font-size:15px">인체의 동작 시 나타나는 상체의 흔들림을 측정하는 목적으로 사용</td>
</tr>
</tbody>
</table>
</div>
<div class="box-shadow" style="border-radius:3px;overflow:hidden;border: 1px solid rgba(120, 130, 140, 0.14);padding:0px;margin:0px;margin-bottom:20px;" id="">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tables  " summary="^!" style="width:100%; border:0px;margin:0px;color:#000" >
<tbody>
<tr>
<td rowspan="3" style="width: 250px;border-top:0px;padding:5px" class="b-r text-center">
<img src="/images/product/4/product.jpg" style="width: 80%;">
</td>
<td class="text-right _100" valign="top" style="width:140px;">품목명/모델명</td>
<td style="" valign="top">모션 센서 - GYKO </td>
</tr>
<tr>
<td class="text-right _100 b-t" valign="top" style="">제조국/제조사
</td>
<td style="" valign="top" class="b-t">이탈리아 Microgate</td>
</tr>
<tr>
<td class="text-right b-t" valign="top" style="">적용분야</td>
<td style="" valign="top" class="b-t">1. 의료용<br />
2. 스포츠용</td>
</tr>
</tbody>
</table>
</div>
<div class="blank_div m-t20 " id="">
<div class=" m-b20  ">
<div class="row no-gutter b-t b-l b-r b-b box-shadow">
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1410/1?cate=1410&db_title=s1&product_name=%EB%AA%A8%EC%85%98+%EC%84%BC%EC%84%9C"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">견적문의</span>
</a>
</div>
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1411/1?cate=1411&db_title=s2&product_name=%EB%AA%A8%EC%85%98+%EC%84%BC%EC%84%9C">
<i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">A/S문의</span>
</a>
</div>
<div class="col-xs-4">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1812/1?cate=1812&db_title=s8&product_name=%EB%AA%A8%EC%85%98+%EC%84%BC%EC%84%9C"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">자료요청</span>
</a>
</div>
</div>
</div>
<div class="box box-shadow b-l b-r ">
<div class="box-header dker pos_r">
<h3 class="">제품특징</h3><small class="text-right pos_a" style="right:20px;top:10px"></small>
</div>
<div class="box-body b-t" style="line-height: 190%">
1. 보행 시 나타나는 상체의 흔들림 측정<br />
2. 보행 시 상체 움직임의 균형 조절 능력 측정<br />
3. Standing, Open eyes, Close eyes 등의 상황에서 상체 흔들림 측정(body sway)<br />
4. 각 관절의 ROM 측정<br />
5. 각 분절의 속도 및 움직임 측정<br />
6. Max Force and Max Power 측정<br />
7. 실시간 Biofeedback 훈련</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>대표이미지</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/4/bg.jpg" alt="" style="width:100%"/>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>대표이미지</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/4/p1/2.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/4/p1/3.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/4/p1/4.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>OptoGait와 연동하여 사용 가능</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/4/p2/1.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/4/p2/2.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
</div>
</div>