<style type="text/css" title="" xmlns: xmlns:>
.tables {margin-top:20px;margin-bottom: 20px}
.tables td{padding:10px;padding-top:18px;padding-left:25px}
.blur {
filter:blur(1px);
-ms-filter:blur(1px);
-moz-filter:blur(1px);
-webkit-filter:blur(1px);
}
</style>
<div class="col-md-12 " id="" style="margin-bottom:30px;min-height:500px">
<div class="text-left m-b20 ">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableTemp01 m-t30 m-b20" summary="^!">
<tbody>
<tr>
<td width="5%" style="padding-right:30px"><img src="/images/product/19/logo.jpg" style="width:140px" /></td>
<td class="h4"><strong>청지각 훈련 프로그램</strong></td>
</tr>
<tr>
<td colspan="2" style="padding-top:20px;padding-bottom:10px;font-size:15px">신경 음향학적으로 조율된 음악으로 
다양한 두뇌 기능을 향상시키는 
청지각 훈련 프로그램</td>
</tr>
</tbody>
</table>
</div>
<div class="box-shadow" style="border-radius:3px;overflow:hidden;border: 1px solid rgba(120, 130, 140, 0.14);padding:0px;margin:0px;margin-bottom:20px;" id="">
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="tables  " summary="^!" style="width:100%; border:0px;margin:0px;color:#000" >
<tbody>
<tr>
<td rowspan="3" style="width: 250px;border-top:0px;padding:5px" class="b-r text-center">
<img src="/images/product/19/product.jpg" style="width: 80%;">
</td>
<td class="text-right _100" valign="top" style="width:140px;">품목명/모델명</td>
<td style="" valign="top">청지각 훈련 프로그램 - TLP </td>
</tr>
<tr>
<td class="text-right _100 b-t" valign="top" style="">제조국/제조사
</td>
<td style="" valign="top" class="b-t">미국 ABT(Advanced Brain Technologies)</td>
</tr>
<tr>
<td class="text-right b-t" valign="top" style="">적용분야</td>
<td style="" valign="top" class="b-t">1. 청각처리<br />
2. 자폐스펙트럼장애(ASD)<br />
3. 발달장애(발달지연)<br />
4. 학습, 성취<br />
5. 집중력, 주의력<br />
6. 말하기, 운동문제<br />
7. 뇌졸중, PTSD, TBI 등<br />
</td>
</tr>
</tbody>
</table>
</div>
<div class="blank_div m-t20 " id="">
<div class=" m-b20  ">
<div class="row no-gutter b-t b-l b-r b-b box-shadow">
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1410/1?cate=1410&db_title=s1&product_name=%EC%B2%AD%EC%A7%80%EA%B0%81+%ED%9B%88%EB%A0%A8+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">견적문의</span>
</a>
</div>
<div class="col-xs-4 b-r">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1411/1?cate=1411&db_title=s2&product_name=%EC%B2%AD%EC%A7%80%EA%B0%81+%ED%9B%88%EB%A0%A8+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8">
<i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">A/S문의</span>
</a>
</div>
<div class="col-xs-4">
<a class="p-a block text-center" href="/user/ctl_online/item_add/1812/1?cate=1812&db_title=s8&product_name=%EC%B2%AD%EC%A7%80%EA%B0%81+%ED%9B%88%EB%A0%A8+%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8"><i class="material-icons md-24  m-v-sm inline"></i>
<span class="block">자료요청</span>
</a>
</div>
</div>
</div>
<div class="box box-shadow b-l b-r ">
<div class="box-header dker pos_r">
<h3 class="">제품특징</h3><small class="text-right pos_a" style="right:20px;top:10px"></small>
</div>
<div class="box-body b-t" style="line-height: 190%">
1. 다양한 주파수로 제작된 음악을 특수 제작된 골전도 Waves™ 다중감각 오디오 시스템으로 청취<br />
2. 사용자의 목표와 청취단계에 따라 3종류의 프로그램 제공(Spectrum/Level One/Achieve)<br />
3. 다양한 Research와 Case Study를 보유한 증거기반의 청지각 훈련 프로그램<br />
4. 전체 스펙트럼(Full Spectrum) 음악<br />
5. ‘주파수 보상(frequency roll-off)’ 기술로 거부 반응, 부정적 감정, 어지러움, 수면 장애 현상 등이 나타나지 않음<br />
6. 모차르트, 하이든, 비발디 등 유명한 클래식 작곡가들의 음악을 세계적인 앙상블 단원들이 개별 부스에서 고유 주파수를 가진 각각의 악기를 연주하여 녹음<br />
7. 24비트, 192,000Hz의 고음질 레코딩, Spatial Surround®, Waves™의 Dolby Headphone® 기술 등의 최첨단 특허 공정 기술 적용<br />
8. 인체에 최적화된 ABC Modular Design™ 적용<br />
9. Hypersonic Effect의 구현<br />
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>대표이미지</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/19/bg.jpg" alt="" style="width:100%"/>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-header dker">
<h3>TLP</h3>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/19/p1/1.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
Waves 다중감각 오디오 시스템</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/19/p1/2.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
트레이닝 영역</div>
</div>
<div class="box-body text-center b-t f_l" style="width:100%">
<img src="/images/product/19/p1/3.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
Spatial Surround </div>
</div>
</div>
<div class="box box-shadow  clearfix  b-l b-r">
<div class="box-body text-center b-t f_l" style="width:33%">
<img src="/images/product/19/p1/444.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:33%">
<img src="/images/product/19/p1/555.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
<div class="box-body text-center b-t f_l" style="width:33%">
<img src="/images/product/19/p1/666.jpg" style="width:100%">
<div class=" m-t10" style="font-weight: bold">
</div>
</div>
</div>
</div>