<style type="text/css" title="">
    .cumr tbody tr td{padding:15px}
</style>

<div class="col-md-12 p-b10 b-b m-b20 ">
    <strong class="h4">이번주 예약현황</strong><br>
        <small class="text-muted">{a_week_ago}~{e_week_ago}</small>
</div>

<div class="p-b20  col-md-12">
    <span class="label blue">대</span> 입금대기 , <span class="label red">완</span> 입금완료
</div>

<div class="col-md-10 col-lg-10  m-b20">
<div class="row">
            {@ t_data}

            <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3">
                <div class="panel panel-card box-shadow2">
                    <div class="item" style="height:150px;background: url({.img_url});background-size:cover ">


                    </div>

                    <div class="text-center">
                        <div class="text-center p-t10">
                            <strong>{.room_cp} {.room_name}</strong>
                        </div>
                        <div style="height:130px;oveflow:auto">
                            {@ .to_realpan}
                            <div class="m-t10 ft10 ">
                                {? ..pay_state == 'N'}
                                <span class="label blue">
                                {:}
                                <span class="label red">
                                {/}
                                <a href="javascript:view_reserve('{..no}','{..pay_state}')">{=substr(..todate,5,2)}월 {=substr(..todate,8,10)}일 | <span style="color:">{..room_number}</span> | {..name} | {..ptime} | {..seongin_val+..adong_val+..yua_val}명 -   {? ..pay_state == 'N'}입금대기 {:}입금완료{/}</a>
                                    </span>
                            </div>
                            {:}
                            <div class="m-t10 ft10 "><small>예약없음</small></div>
                            {/}
                        </div>
                    </div>
                </div>
            </div>

            {/}


</div>
</div>



<div class="col-md-12 hide">
    <div class="row " >

        {@ LIST}
        <div class="{.col}">
            <div class="panel panel-card box-shadow2">
                <div class="item">

                    <img src="{.img}" class="w-full r-t b-b" alt="{.title}">
                    <div class="bottom text-dark p" style="color:{.title_color}">
                        {.title}
                    </div>
                </div>
                <a md-ink-ripple class="md-btn md-raised md-fab {.btn_color} m-r md-fab-offset pull-right" href="{.link}">
		<span class=" text-white" style="color:{.btn_text_color}">
			{.icon}
		</span>
                </a>
                <div class="p">
                    <h4>{.title}</h4>
                    <p style="height:40px;overflow:hidden">
                        {.text}
                    </p>
                </div>
            </div>
        </div>
        {/}

    </div>
</div>




<script type="text/javascript">
    function page_view(url){
        //encodeURIComponent()
        $.ajax({
            type: 'GET',
            url: url,

            dataType: 'html',
            success: function(html, status) {
                bootbox.alert({
                    message:html,
                    size:'large',
                });
                $('.modal-footer ').remove();
                //$('.bootbox_modal').css('margin-top','2%');
            },
            error: function(request,status,error) {
                alert(request.responseText);
            }
        });
    }




</script>