
<div class="box b-l b-b b-r b-t m-t55 box-shadow2 ">

    <div class="box-header b-b text-center pos_r" style="background-image: url({room_info.img_url});background-size:cover;background-position: center;height: 183px">

        <div class="box-header b-b text-center pos_a" style="bottom:-2px;left:0px;width:100%;background-color: rgba(255, 255, 255, 0.55)">
            <i class="fa fa-bed" aria-hidden="true"></i> <strong>{room_info.room_cp} {room_info.room_name}</strong>
        </div>
    </div>

    <div class="box-body padding">

        <div class="text-center b-b ft16 p-b20">
            <div class=""><span style="color: #c73900;font-size: 18px">선택일 </span> <strong class="ft30 " style="font-size: 20px">{this_day}</strong></div>
            <div class="m-t5" style="color:#3c56ce">{this_price_name} {day_type} 요금이 적용됩니다. </div>
        </div>

        <div class="m-t10 clearfix" style="min-height:80px">
            {@ rooms}
            <div class="col-md-3 col-xs-6" style="padding:0">
                <div class="radio  {? .realpans}disabled{/}" >


                    <label class="ui-check " {? .realpans}style="color:red"{/}>
                        <input type="radio" name="room_no1" class="room_{.room_no}" value="{.room_no}" {? .realpans}disabled="disabled"{/}" {? .checked}checked{/} onclick="$('#room_no').val('{.no}');$('#room_no2').val('{.no}'); InoutInList.viewnext({.no});">
                        <i class="dark-white "></i>
                    {? room_info.room_cp=='옥화용소절경'}{=str_replace('호','',.room_number)}{:}{.room_number}{/} {? .realpans}(예약불가){:}(예약가능){/}
                    </label>
                </div>
            </div>
                {? .checked}
                    <script type="text/javascript">
                      //  $('#room_no').val('{.no}');
                      //  $('#room_no2').val('{.no}');
                      //  InoutInList.viewnext({.no});
                    </script>
                {/}
            {/}
            {? room_info.room_cp=='옥화용소절경'}
            <div class="col-md-12 ft12 m-t10" >“방 숫자는 항 호수가 아닙니다. 방 호수 배정은 입실 시 지정됩니다. 원하시는 방 호수가 있으실 경우에 문의 바랍니다.”</div>
            {/}
        </div>

    </div>
</div>
<script type="text/javascript">
    {? _GET.room_no}

        $('#room_no').val('{_GET.room_no}');
        $('#room_no2').val('{_GET.room_no}');
        $('.room_{_GET.room_no}').attr('checked',true);

        InoutInList.viewnext({_GET.room_no});
    {/}
</script>