<style type="text/css" title="">
    #container #contents{ background-color:#fff; overflow:hidden; padding:133px 0 0 0}
</style>
<div class="room_c{? _GET.number}{ _GET.number}{:}101{/}_top animated fadeInUp">

    {room_tab}

</div>
<div id="cont">
    <div class="cont">
        <div class="room_tit">
        <ul>
            <li><img src="images/sub/room/c{? _GET.number}{ _GET.number}{:}101{/}_tt.jpg"></li>

            <li><img src="images/sub/room/room_txt.jpg" usemap="#Map">
                <map name="Map">
                    {? _GET.number ==101}<area shape="rect" coords="385,143,556,180" href="#/user/reserve/index?no=9&tod=t&day=<?=date('Y-m-d')?>&str_year=<?=date('Y')?>&str_month=<?=date('m')?>&str_day=<?=date('d')?>">{/}
                    {? _GET.number ==102}<area shape="rect" coords="385,143,556,180" href="#/user/reserve/index?no=10&tod=t&day=<?=date('Y-m-d')?>&str_year=<?=date('Y')?>&str_month=<?=date('m')?>&str_day=<?=date('d')?>">{/}
                    {? _GET.number ==201}<area shape="rect" coords="385,143,556,180" href="#/user/reserve/index?no=11&tod=t&day=<?=date('Y-m-d')?>&str_year=<?=date('Y')?>&str_month=<?=date('m')?>&str_day=<?=date('d')?>">{/}
                    {? _GET.number ==202}<area shape="rect" coords="385,143,556,180" href="#/user/reserve/index?no=12&tod=t&day=<?=date('Y-m-d')?>&str_year=<?=date('Y')?>&str_month=<?=date('m')?>&str_day=<?=date('d')?>">{/}
                </map>
            </li>

            
        </ul>
        </div>
        <div class="room_icon"><img src="images/sub/room/room_icon.jpg"></div>
        <div class="room_photo">

            <img src="images/sub/room/c{? _GET.number}{ _GET.number}{:}101{/}.jpg">

        </div>
		<div class="room_text"><img src="images/sub/room/abc_txt.jpg"></div>
    </div>
</div>
