<div id="headerwrap">
    <div id="header">
        <div id="logo"><a href="/"><img src="/designs/{HOST}/images/logo.png"></a>
            <div id="ban" class="animated fadeInDown"><a href="{? HOST =='jade9'}http://okhwa.it-company.kr/#/user/page/main{:}http://jade9.it-company.kr/#/user/page/main{/}"><img src="/designs/{HOST}/images/top_banner.png"></a></div>
        </div>

        <div class="pos_r">
            <div id="" class="text-center p-l40 menu" style="padding-bottom:0px">
                <ul class="depth1 clearfix " style=";margin: 60px auto;width:47%;min-width:1000px">
                    {@ site_menu}
                    <li class="f_l text-center top_menu_item_it" style="width:16%">
                        <a href="{.link}" >
                            <strong han="{.title}" class="top_menu_item"  to_submenu="submenu{.index_+1}" >{.title2}</strong>
                        </a>

                    </li>
                    {/}

                </ul>

                {@ site_menu}
                <div class="pos_a to_submenu submenu{.index_+1} animated fadeInDown hide" style="background-color:rgba(231, 231, 231, 0.71);;width:100%;top:31px;left:0px;padding-top:12px;padding-bottom:12px">
                    <div id="" class="text-center p-l40 clearfix " style=";margin: 0px auto;width:1000px;min-width:1000px;padding-top:0px">

                            <ul>
                                {@ .submenu}
                                <li class="f_l text-center top_menu_item_it "  style="width: {..w}" >
                                    <a href="{..link}" >
                                        <strong han="{..title}" class="top_menu_item">{..title2}</strong>
                                    </a>
                                 </li>
                                    {? (count(.submenu)-1) > ..index_}
                                        <li class="bar f_l text-center w10 m-r10 m-l10 ">I</li>
                                    {/}
                                {/}

                            </ul>

                    </div>
                </div>
                {/}



            </div>
        </div>



    </div>

</div>

<script type="text/javascript">
    var ov ='';
    $('.top_menu_item').each(function () {
        $(this).attr('eng',$(this).text());
    });

    $('.top_menu_item_it').hover(function () {
        var rs = $(this).children().children();
        if(!rs.attr('nc')) {
            rs.text(rs.attr('han')).attr('nc',1).delay(300).attr('nc','');
            if(!ov) {
                if (rs.attr('to_submenu')) {
                    ov='1';
                    $('.to_submenu').hide();
                    $('.' + rs.attr('to_submenu')).show();
                    setTimeout(function () {
                        ov='';
                    },500);
                }
            }
        }
    },function () {
        var rs = $(this).children().children();
        if(!rs.attr('nc')) rs.text(rs.attr('eng')).attr('nc',1).delay(300).attr('nc','');
    });

    $('#header').mouseleave(function () {
        $('.to_submenu').hide();
    });
</script>


