<div class="col-md-12  " style="background-color:#333333">
	<div class="cont2" id="">
		<div class="col-md-2" id="" style="padding:5px">
			<img src="./images/bottom_logo.png" alt="" />
		</div>
		<div class="col-md-7" id="" style="padding:10px">
			<img src="./images/copyright.gif" alt="" />
		</div>
        <div class="col-md-2 text-right" id="" style="padding:5px">
            <div class="btn-group dropdown dropup" style="margin-top:8px;width:100%;margin-right:-40px">
                <button class="btn white">Family Site</button>
                <button class="btn white dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://www.hospicare.co.kr/" target="_blank">하스피케어</a>
                    <a class="dropdown-item" href="http://linexmall.com/shop/main/index.php" target="_blank">라이넥스</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://blog.naver.com/hospicare83" target="_blank">IM/TLP/Rehacom</a>
                    <a class="dropdown-item" href="http://blog.naver.com/galileotraining" target="_blank">Galileo</a>
                    <a class="dropdown-item" href="http://blog.naver.com/gaitanalysis" target="_blank">Qualisys/Optogait</a>
                    <a class="dropdown-item" href="http://blog.naver.com/hospi83" target="_blank">DC-Stimulator</a>
                </div>
            </div>
        </div>
        <div class="col-md-1" id="" style="padding:10px">
            <img src="/images/logo_3.png" alt="" style="width:40px"/>
        </div>
	</div>
</div>