<div class=" carousel slide auto pos_r " id="main_vis" >

    <ul class="carousel-inner opa00 animated fadeIn" style="padding:0px;magin-bottom:0px" >
        <li class="item active">
            <div class="visual_01">

            </div>
        </li>
        <li class="item ">
            <div class="visual_02">

            </div>
        </li>
        <li class="item ">
            <div class="visual_03">

            </div>
        </li>
       <!-- <li class="item ">
            <div class="visual_04">

            </div>
        </li>-->
     </ul>

    <div class=" pos_a pos_center_w"  style="top:22%">

        <div class="text" ><img src="/designs/{HOST}/images/visuai_text.png"></div>
        <div class="navi m-t30" >
            <ol class="carousel-indicators">
                <li data-target="#main_vis" data-slide-to="0" class="active"  style="zoom:1.2"></li>
                <li data-target="#main_vis" data-slide-to="1"  style="zoom:1.2"></li>
                <li data-target="#main_vis" data-slide-to="2"  style="zoom:1.2"></li>
               <!-- <li data-target="#main_vis" data-slide-to="3"></li>-->
            </ol>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function(){
        var inits = '';
        $('#main_vis').carousel({  interval: 5000 }).on('slide.bs.carousel', function () {
            inits = 'y';
        });
    });


</script>

<div class="sitemapwrap">
    <div class="sitemap">
        <ul>
            <li class="sitemap_tt"><img src="/designs/{HOST}/images/sitemap_tt_01.png"></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_01_01.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_01_02.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_01_03.png"></a></li>
        </ul>
        <ul>
            <li class="sitemap_tt"><img src="/designs/{HOST}/images/sitemap_tt_02.png"></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_02_01.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_02_02.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_02_03.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_02_04.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_02_05.png"></a></li>
        </ul>
        <ul>
            <li class="sitemap_tt"><img src="/designs/{HOST}/images/sitemap_tt_03.png"></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_03_01.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_03_02.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_03_03.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_03_04.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_03_05.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_03_06.png"></a></li>
        </ul>
        <ul>
            <li class="sitemap_tt"><img src="/designs/{HOST}/images/sitemap_tt_04.png"></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_04_01.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_04_02.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_04_03.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_04_04.png"></a></li>
        </ul>
        <ul>
            <li class="sitemap_tt"><img src="/designs/{HOST}/images/sitemap_tt_05.png"></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_05_01.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_05_02.png"></a></li>
        </ul>
        <ul>
            <li class="sitemap_tt"><img src="/designs/{HOST}/images/sitemap_tt_06.png"></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_06_01.png"></a></li>
            <li><a href=""><img src="/designs/{HOST}/images/sitemap_06_02.png"></a></li>
        </ul>
    </div>
</div>

<!--
<br>
<br>
<br>
<br>
<br>
<br>
<a href="#/user/reserve/index?no=5">VIP형펜션 B동 (스파,복층)</a><br>
<a href="#/user/reserve/index?no=9">VIP형펜션 C동 (스파,복층)</a><br>
<a href="#/user/reserve/index?no=1">VIP형펜션 A동 (스파,복층)</a><br>
<br>

<a href="#/user/reserve/index?no=26">옥화용소절경 20평형</a><br>
<a href="#/user/reserve/index?no=14">옥화용소절경 50평(복층)</a><br>
<a href="#/user/reserve/index?no=18">옥화용소절경 40평</a><br>
<a href="#/user/reserve/index?no=13">옥화용소절경 100평</a><br>-->
